<h1>マイページ</h1>
<p>Find me in app/views/users/show.html.erb</p>

<hr>
<p><span>email: </span><%= @user.email %></p>

<% @tweets.each do |tweet| %>
  <hr>
  <p><span>投稿内容: </span><%= link_to tweet.body, tweet_path(tweet.id) %></p>
<% end %>
